h1{
	
padding-left:100px
}

body{
	padding-left:500px;
	font-size:large;
	font-family:arial;
	
}
head{
	position: absolute;
     right: 0px;
     width: 300px;
     border: 3px solid #73AD21;
    padding: 10px;
 
}

#logo {
	position:relative;
	right:70%}

