body{
	padding-left:10px;
	font-family:arial;
	}

h1{ 
	font-family:arial;
	background:black;
	color:white;
}
.subtitulo{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black; 
}




